body {
    background-image: url("http://cdn.leagueoflegends.com/lolkit/1.1.6/resources/images/bg-default.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index:-999;
    height: 100vh;
    width: 100vw;
}

.blackBackground {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity:0.5;
    z-index:-500;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.model {
    position: relative;
    float: left;
    margin: 10px;
    height: 250px;
    width: 300px;
    background-color: black;
    transition-delay: 1s;
    transition-duration: 3s;
}

.model:hover {
    filter: brightness(150%);
    box-shadow: 0 0 50px #333;
}

#anotherHover:hover{
    filter:blur(5px);
}

.screen {
    background-image: url("https://static-cdn.jtvnw.net/ttv-static/404_preview-320x180.jpg");
    position: relative;
    height: 180px;
    width: 100%;
    background-repeat: no-repeat;
}

.streamerTitle {
    opacity: 0.8;
    width: 100%;
    height: 70px;
    color:white;
}

.streamerImg {
    margin: 10px;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
}

.streamerInfo {
    width: 75%;
    height: 100%;
    float: left;
}

.streamerInfo p {
    margin: 10px;
}
        
span {
    height: 80px;
    width: 250px;
}
